.widget-ui-checkbox {
	display: inline-block;
	margin-right: 40px;

	&__input {
		position: absolute;
		left: -99999px;
		opacity: 0.1;
	}

	&__caption {
		position: relative;
		display: inline-block;
		color: #666666;
		font-weight: 600;
		font-size: 15px;
		height: 20px;
		padding-left: 50px;
		line-height: 19px;
		vertical-align: top;
		cursor: pointer;
		user-select: none;

		&:before {
			content: '';
			border-radius: 50%;
			width: 20px;
			height: 20px;
			background: #fff;
			border: 2px solid #b3b3b3;
			font-size: 16px;
			cursor: pointer;
			display: inline-block;
			top: 0;
			left: 0;
			transition: transform 0.2s ease-out;
			position: absolute;
			line-height: 25px;
			text-align: center;
		}
	}

	& label:before {
		content: '';
		width: 40px;
		height: 20px;
		transition: background 0.2s;
		background: #b3b3b3;
		position: absolute;
		border-radius: 20px;
	}

	&__input:checked + label {
		&:before {
			background: #1B75BC;
		}

		.widget-ui-checkbox__caption {
			color: #1B75BC;

			&:before {
				border-color: #1B75BC;
				transform: translateX(20px);
			}
		}
	}
}