@import "../variables";

.nemo-ui-datepicker {
	border-radius: 0;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	font-size: 0.9rem;

	&__specialDay {
		color: #fff !important;
		background: rgba(63, 169, 245, 1) !important;
		border-radius: 0 !important;
		font-weight: 400 !important;
	}
	
	.react-datepicker {
		&__triangle {
			display: none;
		}
		
		&__header {
			background-color: #fff;
			border-bottom: none;
			padding-top: 18px;
		}
		
		&__navigation {
			top: 10px;
			
			&--previous, &--next {
				height: 30px;
				width: 30px;
				border: none;
				border-radius: 50%;
				background: url('/images/form/circleNext.svg') no-repeat center;
				
				&:hover {
					background: #1B75BC url('/images/form/circleNext-hover.svg') no-repeat center;
				}
			}

			&--previous {
				transform: rotate(180deg);
			}
		}
		
		&__current {
			&-month {
				padding-bottom: 9px;
				font-size: 17px;
				line-height: 18px;
				font-weight: 600;
				color: #808080;
				text-transform: capitalize;
			}
		}
		
		&__week {
			margin-bottom: 2px;
		}
		
		&__day {
			color: #666;
			position: relative;
			width: 2.3rem;
			height: 2rem;
			line-height: 2rem;
			margin: 0;
			transition: background 0.2s $transition-function;
			
			&-name {
				color: #ccc;
				font-size: 12px;
				font-family: "Arial", sans-serif;
				font-weight: 700;
				text-align: center;
				padding-bottom: 3px;
				text-transform: lowercase;
				width: 2.3rem;
				height: 2rem;
				line-height: 2rem;
				margin: 0;
			}

			&--today, &--keyboard-selected {
				color: #3FA9F5;
				font-weight: 700;
				background: #fff;
			}

			&--outside-month {
				color: #ccc;
			}

			&:hover {
				background: rgba(63, 169, 245, 0.3);
				border-radius: 0;
			}

			&--highlighted {
				color: rgba(63, 169, 245, 1);
				background: rgba(63, 169, 245, 0.2);
				border-radius: 0;
				font-weight: 400;

				&:hover {
					background: rgba(63, 169, 245, 0.4);
				}
			}

			&--selected {
				@extend .nemo-ui-datepicker__specialDay;
			}

			&--disabled {
				color: #ccc;

				&:hover {
					color: #ccc;
					background: #fff;
				}
			}
		}
	}
}