@import "../variables";

$breakPoint: 650px;

.react-datepicker {
	@include adaptivity(phone) {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
	
	&-popper {
		@include adaptivity(phone) {
			position: fixed !important;
			transform: none !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			margin-top: 0 !important;
		}
	}
}

.widget-ui-datepicker {
	border-radius: 0;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	font-size: 0.9rem;
	padding-top: 30px;

	@include adaptivity(phone) {
		padding-top: 50px;
		overflow: auto;
	}
	
	&_return {
		padding-bottom: 35px;
	}
	
	&__header {
		color: #3fa9f5;
		font-weight: 600;
		font-size: 17px;
		position: absolute;
		text-align: center;
		width: 100%;
		padding-top: 20px;
		top: 0;
		
		&:before {
			content: "\E90B";
			position: absolute;
			font-family: 'OpenSkyIcons', sans-serif;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 20px;
			transform: translate(0, -25%) rotate(-45deg);
			top: 50%;
			margin-left: -32px;
			margin-top: 3px;

			@include adaptivity(phone) {
				margin-top: -7px;
				display: none;
			}
		}
		
		&__closer {
			display: none;

			@include adaptivity(phone) {
				display: block;
				position: absolute;
				right: 15px;
				color: #666;
				font-weight: normal;
				font-size: 16px;
				cursor: pointer;
			}
		}
		
		&_return {
			&:before {
				transform: translate(0, -25%) rotate(135deg);
				margin-top: 4px;

				@include adaptivity(phone) {
					margin-top: -5px;
				}
			}
		}

		@include adaptivity(phone) {
			background: #fff;
			position: fixed;
			border-bottom: 1px solid #ccc;
			padding: 0;
			height: 50px;
			line-height: 50px;
			font-size: 19px;
		}
	}
	
	&__footer {
		position: absolute;
		bottom: 15px;
		text-align: center;
		width: 100%;

		@include adaptivity(phone) {
			position: fixed;
		}
		
		&__button {
			font-size: 13px;
			line-height: 14px;
			font-weight: 400;
			padding: 10px 15px;
			display: inline-block;
			border: 1px solid rgba(#3fa9f5, 0.2);
			cursor: pointer;
			color: #3fa9f5;
			background: #fff;

			&:hover {
				background: #3fa9f5;
				color: #fff;
			}

			@include adaptivity(phone) {
				font-size: 17px;
				padding: 14px 20px;
				background: #3fa9f5;
				color: #fff;
			}
			
			&:active {
				background-color: #1b75bc;
				color: #fff;
			}
		}
	}

	&__specialDay {
		color: #fff !important;
		background: rgba(63, 169, 245, 1) !important;
		border-radius: 0 !important;
		font-weight: 400 !important;
	}
	
	.react-datepicker {
		&__triangle {
			display: none;
		}
		
		&__header {
			background-color: #fff;
			border-bottom: none;
			padding-top: 0;
		}
		
		&__navigation {
			top: 52px;

			@include adaptivity(phone) {
				position: fixed;
				top: 50%;
				margin-top: -15px;
			}
			
			&--previous, &--next {
				height: 30px;
				width: 30px;
				border: none;
				border-radius: 50%;
				background: url('/images/form/circleNext.svg') no-repeat center;

				&:hover {
					background: #3fa9f5 url('/images/form/circleNext-hover.svg') no-repeat center;
				}
			}

			&--previous {
				transform: rotate(180deg);

				@include adaptivity(phone) {
					left: 15px;
				}
			}

			&--next {
				right: 35px;

				@include adaptivity(phone) {
					right: 15px;
				}
			}
		}
		
		&__month {
			margin: 5px;

			&-container {
				padding: 30px;
				
				@include adaptivity(phone) {
					width: 100%;
					float: none;
					display: block;
					padding: 20px 20px 0;
				}
			}
		}
		
		&__current {
			&-month {
				padding-bottom: 20px;
				font-size: 17px;
				line-height: 18px;
				font-weight: 600;
				color: #808080;
				text-transform: capitalize;
			}
		}
		
		&__week {
			margin-bottom: 2px;
		}
		
		&__day {
			color: #666;
			position: relative;
			width: 2.3rem;
			height: 2rem;
			line-height: 2rem;
			margin: 0;
			transition: background 0.2s $transition-function;
			
			&-name {
				color: #ccc;
				font-size: 12px;
				font-family: "Arial", sans-serif;
				font-weight: 700;
				text-align: center;
				padding-bottom: 3px;
				text-transform: lowercase;
				width: 2.3rem;
				height: 2rem;
				line-height: 2rem;
				margin: 0;
			}

			&--today, &--keyboard-selected {
				color: #3FA9F5;
				font-weight: 700;
				background: #fff;
			}

			&--outside-month {
				color: #ccc;
			}

			&:hover {
				background: rgba(63, 169, 245, 0.3);
				border-radius: 0;
			}

			&--highlighted {
				color: rgba(63, 169, 245, 1);
				background: rgba(63, 169, 245, 0.2);
				border-radius: 0;
				font-weight: 400;

				&:hover {
					background: rgba(63, 169, 245, 0.4);
				}
			}

			&--selected {
				@extend .widget-ui-datepicker__specialDay;
			}

			&--disabled {
				color: #ccc;

				&:hover {
					color: #ccc;
					background: #fff;
				}
			}
		}
	}

	&__calendar {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		width: 39px;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 17px;
		color: #B3B3B3;
		cursor: pointer;
		pointer-events: none;

		&:after {
			content: "\e90d";
		}
	}

	&__closer {
		position: absolute;
		top: -10px;
		right: -10px;
		z-index: 11;
		width: 20px;
		height: 20px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 10px;
		color: #fff;
		cursor: pointer;
		background: #1B75BC;
		border: 1px solid #1B75BC;
		border-radius: 50%;

		&:hover {
			background: #1B75BC;
			border-color: #1B75BC;
			color: #fff;
		}

		&:after {
			content: "\E902";
			margin-left: 0;
			margin-top: 0;
			transform: rotate(45deg);
		}
	}
}