@import "../variables";

.widget-ui-dropdown {
	&__content {
		&_hidden {
			display: none;
		}
	}

	&__trigger {
		&_open {
			.widget-ui-select {
				&__toggle {
					background-image: linear-gradient(to top, rgba(250,250,250,.75), rgba(240,240,240,.75));

					&::after {
						transform: translateY(-1px) rotate(180deg);
					}
				}
			}
		}
	}
}
