@import "../../variables";

&__select {
	// React-select plugin has a shitty CSS styling, 
	// so we have to do a lot of dirty overwriting.
	.Select {
		&-loading {
			border-right-color: #888;

			&-zone {
				position: absolute;
				top: 0;
				bottom: 0;
				display: flex;
				right: 50px;
				align-items: center;
			}
		}

		&-control {
			cursor: pointer;
			border-radius: 0;
			height: 40px;
			border-color: #ccc !important;

			&:hover {
				box-shadow: none;
			}
		}

		&-input {
			padding-left: 13px;
			height: 38px;

			input {
				width: 100%;
				height: 38px;
				line-height: 38px;

				padding: 0;
				font-weight: 600;
				font-size: 15px;
				color: #666 !important;
			}
		}

		&-placeholder {
			line-height: 38px;
			font-weight: 600;
			font-size: 15px;
			padding-left: 13px;
			color: #868e96;
		}

		&-menu {
			max-height: none;

			&-outer {
				max-height: 370px;
				overflow: auto;
				border-radius: 0;
				//visibility: hidden;
				//opacity: 0;
				//filter: alpha(opacity = 0);

				border: 1px solid #e6e6e6;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				background-color: #ffffff;
				//transition: 250ms ease;
			}
		}

		&-option {
			transition: background, .4s, ease;
			display: block;
			position: relative;

			padding: 10px 90px 10px 13px;
			line-height: 16px;

			list-style-type: none;
			background: #fff;
			border-bottom: 1px solid #e6e6e6;
			color: $font-color;
			font-size: 15px;
			font-weight: 400;
			cursor: pointer;

			&:hover, &.is-focused {
				background: rgba(0, 76, 186, 0.07);
			}
			
			&:last-of-type {
				@include adaptivity(not-phone) {
					border-bottom: none;
				}
			}
		}
	}

	&.is-open {
		.Select {
			&-control {
				border-color: #ccc;
			}
		}
	}

	&.is-focused {
		.Select {
			&-control {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
				background-color: transparent;

				@include adaptivity(phone) {
					position: fixed;
					top: $mobile-header-height;
					left: 0;
					right: 0;
					z-index: 13;

					.Select-input:not(input), .Select-placeholder {
						height: $mobile-input-height;
						display: flex;
						align-items: center;
					}

					background-color: #fff;
					box-shadow: none;
					border-top: none;
					border-left: none;
					border-right: none;
				}
			}

			&-menu {
				&-outer {
					@include adaptivity(phone) {
						position: fixed;
						top: $mobile-header-height + $mobile-input-height;
						left: 0;
						right: 0;
						bottom: 0;

						max-height: none;
						border-left: none;
						border-right: none;
						border-bottom: none;
						box-shadow: none;
					}
				}
			}
		}
	}

	&_loading {
		background: url('/images/form/spinner.svg') no-repeat 90% center;
		background-size: 20px;
	}

	&_focused {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		background-color: transparent;
	}

	&__wrapper {
		position: relative;
	}
	
	&__value {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 100px;

		display: flex;
		align-items: center;
		padding-left: 13px;
		white-space: nowrap;
		
		&__airportName, &__comma {
			font-weight: 600;
			font-size: 15px;
			color: #666;
		}
		
		&__countryName {
			font-weight: 600;
			font-size: 15px;
			color: #b3b3b3;

			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}