@import "../../variables";

&__swap {
	width: 32px;
	height: 100%;
	position: absolute;
	top: 50%;
	left: -31px;
	z-index: 11;

	transform: translateY(-50%);
	font-size: 12px;
	cursor: pointer;
	color: #ccc;
	background: #fff;

	border: 1px solid #ccc;
	border-radius: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		@include adaptivity(not-phone) {
			background: $title-color;
			border-color: $title-color;
			color: #fff;
		}
	}

	&:active {
		@include adaptivity(phone) {
			background: $title-color;
			border-color: $title-color;
			color: #fff;
		}
	}

	&:after {
		content: $icon-swap;
	}

	@include adaptivity(phone) {
		right: 75px;
		left: auto;
		transform: translateY(-50%);
		top: 0%;
	}
}
