@import "../variables";

&-airports {
	@import "airports/select";
	@import "airports/swap";
	@import "airports/suggestion";

	.Select-menu-outer {
		@include adaptivity(phone) {
			margin-top: 0 !important;
		}
	}

	&.row {
		flex-wrap: nowrap;
		flex-basis: 100%;
		flex-shrink: 1;
		margin-right: 0;
		margin-bottom: 0;

		@include adaptivity(tablet) {
			flex-basis: 100%;
			flex-shrink: 1;
			padding-bottom: 1rem;
			margin-left: 0;
		}
	}

	&__airportCode {
		color: #868e96;
		font-size: 13px;
	}

	&__header {
		background-color: $title-color !important;
	}

	&__col.col {
		&:first-of-type {
			padding-right: 0;

			.widget-form-airports__select__value {
				width: 80%;
			}

			.widget-form-airports__airportCode {
				right: 57px;

				@include adaptivity(phone) {
					right: 17px;
				}
			}

			@include adaptivity(phone) {
				padding-bottom: 1rem;
			}

		}

		&:last-of-type {
			@include adaptivity(desktop) {
				padding-left: 0;

				.widget-form-airports__select__wrapper {
					padding-left: 15px;
				}
			}

			@include adaptivity(tablet) {
				padding-left: 15px;
			}

			.Select-control {
				@include adaptivity(not-phone) {

					.Select-placeholder,
					.Select-input:not(input),
					.widget-form-airports__select__value {
						padding-left: 13px !important;
					}

					.widget-form-airports__select__value__placeholder {
						padding-left: 13px !important;
					}
				}
			}
		}

		@include adaptivity(phone) {
			padding-right: 0;
			padding-left: 0 !important;
		}
	}
}
