@import "../variables";

&-classType {
	&__inner {
		&__button {
			color: #0a0a0f;
			height: 30px;
			line-height: 30px;
			font-size: 100%;
			background-color: #e6e6e6;
			background-image: linear-gradient(to bottom, rgba(250, 250, 250, .75), rgba(240, 240, 240, .75));
			margin-right: -20px;
			margin-left: 20px;
			padding: 0 18px;
			border: none;
			border-radius: 4px;

			&_selected {
				background: #88c43d;
			}

			&:first-child {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}

			&:last-child {
				margin-right: 0;
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}
	}
}