@import "../variables";

&-classType {
	border-top: 1px solid #e6e6e6;

	&__class {
		display: none;
	}

	&__inner {
		&__button {
			color: #0a0a0f;
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			background-color: #e6e6e6;
			background-image: linear-gradient(to bottom, rgba(250, 250, 250, .75), rgba(240, 240, 240, .75));
			margin-right: -20px;
			margin-left: 20px;
			padding: 0 18px;
			border: none;
			border-radius: 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex-basis: 100%;

			&_selected {
				background: #64b5f6;
				color: #fff;

				&:hover {
					background: #64b5f6 !important;
					color: #fff !important;
				}
			}

			&:first-child {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}

			&:hover {
				background-color: #e6e6e6;
				background-image: linear-gradient(to bottom, rgba(250, 250, 250, .75), rgba(240, 240, 240, .75));
				color: #0a0a0f;
			}
		}
	}
}