@import "../variables";

&-dates {
	flex-wrap: nowrap !important;
	flex-shrink: 3;
	flex-basis: 100%;


	@include adaptivity(desktop) {
		margin: 0 !important;
	}

	@include adaptivity(tablet) {
		flex-basis: 100%;
		padding-bottom: 1rem;
		margin: 0 auto !important;
	}

	@include adaptivity(phone) {
		flex-wrap: wrap !important;
	}

	.widget-ui-input {
		cursor: pointer;
		padding-right: 13px;
		-webkit-appearance: none;
		font-size: 13px;
	}

	&__col.col {
		position: static;
		padding: 0!important;

		&:last-of-type {

			@include adaptivity(desktop) {
				border-left: 1px solid #64b5f6;
			}

			.widget-ui-datepicker__calendar {
				display: none;
			}
		}

		@include adaptivity(tablet) {
			&:first-of-type {
				padding-left: 15px !important;
			}

			&:last-of-type {
				padding-left: 15px !important;
				padding-right: 15px !important;
			}
		}

		@include adaptivity(phone) {
			padding: 0 15px !important;
			flex-basis: 100%;

			&:first-of-type {
				padding-bottom: 1rem !important;
			}
		}

		.widget-ui-input_disabled {
			text-align: center;
			background: rgba(255,255,255,.25) !important;
			color: #fff !important;

			&:hover {
				box-shadow: inset 0 0 16px rgba(255,255,255,.2) !important;
			}

			&::placeholder {
				color: #fff;
			}
		}
	}
}