@import "../variables";

&-passengers {
	&__trigger {
		&__title {
			border: none !important;
			font-weight: normal !important;
			background-color: #fff !important;
			min-width: 150px;
		}
	}

	&__header {
		background-color: $title-color !important;
	}

	&__content {
		@include adaptivity(not-phone) {
			min-width: 260px;
			border-radius: 4px;
			margin-top: 5px !important;
			box-shadow: 0 1px 16px rgba(10, 10, 15, .25);
		}
	}

	&__item {
		height: 55px;

		&:first-child {
			border-top: none !important;
		}
	}

	&__trigger {
		&__title {
			font-size: 13px !important;
		}
	}

	&__title {
		font-weight: normal;
		color: #0072ae;
		overflow: hidden;
		display: inline-block;

		&__age {
			display: block;
			padding: 0;
		}
	}

	&__class {
		padding-right: 13px;
	}

	&__icon {
		border-radius: 50%;
		width: 30px;
		height: 30px;
		border: 1px solid #cae0ed;

		&:after {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 9px;
		}

		&:hover {
			background-color: #e1f5ff;
		}

		&_disabled {
			display: none;
		}
	}

	&__footer {
		&__button {
			background-color: $title-color !important;
			border: none !important;
		}
	}
}