@import "../variables";
@import "airports";
@import "dates";
@import "passengers";
@import "classType";
@import "additional";

&-search {
	background: #64b5f6;

	&__addSegment {
		line-height: 40px;
		background: rgba(255,255,255,.25);
		border-radius: 2px;
		cursor: pointer;
		transition: all .2s;
		text-align: center;
		margin-left: 50px;
		margin-right: 0;
		font-weight: 500;
		color: #fff;

		&:hover {
			box-shadow: inset 0 0 16px rgba(255,255,255,.2);
		}

		@include adaptivity(tablet) {
			margin: 0 15px;
		}

		@include adaptivity(phone) {
			margin-left: 0;
		}
	}

	&__footer {
		flex-wrap: wrap !important;
		flex-shrink: 4;
		margin: 0 !important;
		flex-basis: 100%;

		@include adaptivity(desktop) {
			min-width: 300px;
			flex-wrap: nowrap !important;

			.col {
				&:first-of-type {
					flex-basis: 60%;
				}
				&:last-of-type {
					flex-basis: 30%;
				}
			}
		}

		@include adaptivity(phone) {
			.col {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@include adaptivity(tablet) {
		flex-basis: 100%;
		padding-bottom: 1rem;
	}

	@include adaptivity(phone) {
		flex-wrap: wrap !important;
	}

	&__startButton.btn-primary {
		color: #fff;
		font-size: 18px;
		line-height: 40px;
		box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5), inset 0 1px 2px 0 #b8dc8b;
		background-color: $main-button-color;
		font-weight: normal;
		padding: 0 15px;
		border-radius: 4px;
		transition: background .1s ease-in;

		&:hover {
			color: #fff;
			background: $main-button-color_hover !important;
		}

		&:active {
			background: $main-button-color_hover !important;
			box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5), inset 0 1px 2px 0 #b8dc8b !important;
		}
	}

	&__tickets {
		display: none;
	}

	&__wrapper {
		display: flex;
		width: 100%;

		@include adaptivity(tablet) {
			flex-wrap: wrap;
		}
	}
}