@import "../variables";
@import "airports";
@import "dates";
@import "passengers";
@import "classType";
@import "additional";

&-search {
	background: #64b5f6;

	&__footer {
		flex-wrap: nowrap !important;
		flex-shrink: 4;
		margin: 0 !important;
		flex-basis: 100%;
	}

	@include adaptivity(tablet) {
		flex-basis: 100%;
		padding-bottom: 1rem;
	}

	@include adaptivity(phone) {
		flex-wrap: wrap !important;
	}

	&__startButton.btn-primary {
		color: #fff;
		font-size: 18px;
		line-height: 40px;
		box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5), inset 0 1px 2px 0 #b8dc8b;
		background-color: $main-button-color;
		font-weight: normal;
		padding: 0 15px;
		border-radius: 4px;
		transition: background .1s ease-in;

		&:hover {
			color: #fff;
			background: $main-button-color_hover !important;
		}

		&:active {
			background: $main-button-color_hover !important;
			box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5), inset 0 1px 2px 0 #b8dc8b !important;
		}
	}

	&__wrapper {
		display: flex;
		width: 100%;

		@include adaptivity(tablet) {
			flex-wrap: wrap;
		}
	}
}