@import "variables";

&-form {
	@import "form/search";
	
	//&__block {
		//border-bottom: 1px solid #E6E6E6;

		//&__header {
		//	position: relative;
		//	padding: 0.9rem;
		//	font-weight: 600;
		//	color: $headers-font-color;
		//	cursor: pointer;
		//	display: flex;
		//	align-items: center;
		//	user-select: none;
		//
		//	&:before {
		//		position: relative;
		//		width: 1.2rem;
		//		top: -1px;
		//		font-family: "OpenSkyIcons", sans-serif;
		//		font-weight: normal;
		//		color: $headers-font-color;
		//		margin-right: 0.8rem;
		//	}
		//
		//	&:after {
		//		content: "\e90e";
		//		position: absolute;
		//		top: 50%;
		//		margin-top: 5px;
		//		right: 1.2rem;
		//		font-family: "OpenSkyIcons", sans-serif;
		//		color: $headers-font-color;
		//		transform: translate(0, -50%) rotate(90deg);
		//	}
		//
		//	&_active {
		//		&:after {
		//			margin-top: 0;
		//			transform: translate(0, -50%) rotate(-90deg);
		//		}
		//	}
		//}

		//&__body {
		//	padding: 0.9rem;
			//display: none;
			
			//&_active {
			//	display: block;
			//}
		//}
		
	//	&_search &__header:before {
	//		content: "\e90b";
	//		font-size: 18px;
	//	}
	//	
	//	&_registration &__header:before {
	//		content: "\e900";
	//		font-size: 15px;
	//	}
	//	
	//	&_bookings &__header:before {
	//		content: "\e909";
	//		font-size: 16px;
	//	}
	//}
	
	&__pseudoBlocks {
		text-align: center;
	}
	
	&_vertical {
		.widget-form {
			&-search {
				&__wrapper {
					padding-right: 0;

					.form-group:last-of-type {
						margin-bottom: 1rem;
					}
				}

				&__footer {
					position: static;
					margin-top: 0;
				}

				&__startButton {
					position: static;
					width: 100%;
				}
			}
			
			&-airports {
				&.row {
					display: block;
					margin-left: 0;
					margin-right: 0;
				}

				&__col.col {
					&:first-of-type {
						.widget-ui-input__arrow {
							right: 0;
						}

						.widget-form-airports__airportCode {
							&_withArrow {
								right: 35px;
							}
						}
					}

					&:last-of-type {
						.widget-ui-input {
							padding-left: 11px;
							border-top: none;
							border-left: 1px solid rgba(0, 0, 0, 0.15);
						}
					}

					padding: 0;
				}

				&__swap {
					right: 75px;
					left: auto;
					transform: rotate(90deg);
					top: -12px;
				}
			}

			&-passengers {
				&__trigger {
					display: block;
				}

				&__content {
					border: 1px solid #e6e6e6;
					border-top: none;
					box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
					position: absolute;
					
					.col {
						&:first-of-type {
							padding: 0;
						}

						&:last-of-type {
							padding: 0;
						}
					}

					.row {
						display: block;
						margin: 0;
						
						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				.widget-ui-dropdown__content_hidden {
					display: none;
				}

				&__item {
					padding: 10px 20px;
					border: none;
					border-top: 1px solid #e6e6e6;
				}

				&__counter {
					border-left: none;
				}
			}
		}
	}
}