@import "fonts";

.widget {
	@import "variables";
	@import "libs";
	@import "ui";
	@import "form";
	@import "demo";
	
	font-family: "Open Sans", sans-serif;
	font-size: inherit;
	color: $font-color;
	background-color: #ffffff;
}