@import "fonts";

.nemo-widget {
	@import "variables";
	@import "bootstrap";
	@import "reactDatepicker";
	@import "overridings";
	@import "ui";
	@import "form";
	
	font-family: "Open Sans", sans-serif;
	font-size: inherit;
	color: $common-font-color;
	background-color: #ffffff;
}