@import "../../variables";

&__select {
	.Select {
		&-control {
			border: none !important;
		}

		&-input {
			input {
				font-size: 13px;
				font-weight: normal;
				color: #0a0a0f !important;
			}
		}

		&-placeholder {
			font-weight: normal;
			font-size: 13px;
			line-height: 40px;
		}

		&-menu {
			&-outer {
				border-radius: 4px;
				margin-top: 5px !important;
				box-shadow: 0 1px 16px rgba(10, 10, 15, 0.25);
				border: none !important;

				.Select-option {
					padding: 0;
				}
			}
		}

		&-option {
			font-size: 13px;
		}
	}

	&__value {
		width: 100%;

		&__airportName,
		&__comma {
			font-size: 13px;
			color: #0a0a0f;
			font-weight: normal;
		}

		&__countryName {
			font-size: 13px;
			color: rgba(100, 100, 100, 0.75);
			font-weight: normal;
		}

		&__placeholder {
			font-weight: normal !important;
			font-size: 13px !important;
			line-height: 40px !important;
		}
	}

	&.is-focused {
		.Select {
			&-control {
				box-shadow: none;
				background-color: #ffffff;
			}

			&-noresults,
			&-defaultOptions-hint {
				font-weight: normal;
				font-size: 13px;
			}
		}
	}
}
