&__suggestion {
	font-size: 15px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 40px;
	transition: background-color 0.2s;

	&__code {
		color: #868e96;
		font-size: 13px;
	}

	&__title {
		color: #333333;
	}

	&__countryName {
		display: block;
		padding-left: 0 !important;
		color: #868e96;
	}

	&_insideAggregation {
		background: #fafafa;
		margin: -10px;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;

		.widget-form-airports__suggestion__countryName {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 12;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
			background: rgba(100,181,246,.1);
		}
	}

	&_isAggregation {
		&:before {
			content: ' ';
			position: absolute;
			width: 100%;
			height: 36px;
			margin-bottom: -36px;
			margin-left: -10px;
			bottom: 0;
			z-index: 10;
			background-image: linear-gradient(180deg,rgba(0,0,0,.05),transparent 30%);
		}
	}
}
