&__suggestion {
	font-size: 13px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 40px;

	&__code {
		color: #868e96;
		font-size: 13px;
	}

	&__title {
		color: #333;
	}

	&__countryName {
		padding-left: 0 !important;
		color: #333;

		&:before {
			content: ', ';
		}
	}

	&_insideAggregation {
		padding-left: 15px;
	}
}
