@import "../variables";

&-additionalOptions {
	margin-top: 1rem;

	label {
		margin-bottom: 0;
	}

	.widget-ui-checkbox {
		&:first-child {
			padding-bottom: 0.5rem;
		}

		&:last-child {
			padding-top: 0.5rem;
		}
	}

	@include adaptivity(phone) {
		.widget-ui-checkbox {
			&:first-child {
				padding-bottom: 1rem;
			}

			&:last-child {
				padding-bottom: 1rem;
				padding-top: 0;
			}
		}
	}
}