@import "../variables";

&-additionalOptions {
	margin-top: 1rem;

	label {
		margin-bottom: 0;
	}

	.widget-ui-checkbox {
		padding: 10px 0;
	}

	@include adaptivity(phone) {
		margin-bottom: 1rem;
	}
}