@import "../variables";

&-airports {
	@import "airports/select";
	@import "airports/swap";
	@import "airports/suggestion";
	
	&.row {
		@include adaptivity(phone) {
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&_CR {
		.widget-form-airports__segment {
			display: flex;
		}
	}

	flex-basis: 100%;

	&__segment {
		width: 100%;
		padding: 0 20px;
	}
	
	&__header {
		display: none;
		
		&_visible {
			display: block;
		}

		@include adaptivity(not-phone) {
			display: none;
		}
	}
	
	&__underlay {
		display: none;
		position: fixed;
		top: $mobile-header-height;
		left: 0;
		bottom: 0;
		right: 0;
		
		background: #fff;
		max-height: none;

		@include adaptivity(phone) {
			display: block;
		}
	}

	&__airportCode {
		display: flex;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 17px;
		z-index: 1;

		line-height: 16px;
		align-items: center;
		pointer-events: none;
		
		color: #B3B3B3;
		font-weight: 400;
		font-size: 15px;

		&_withArrow {
			right: 35px;
		}
	}
	
	&__col.col {
		&:first-of-type {
			padding-right: 0;
			
			.widget-ui-input__arrow {
				right: 12px;

				@include adaptivity(phone) {
					right: 0;
				}
			}
			
			.widget-form-airports__airportCode {
				right: 29px;

				@include adaptivity(phone) {
					right: 17px;
				}

				&_withArrow {
					right: 47px;

					@include adaptivity(phone) {
						right: 35px;
					}
				}
			}
		}

		&:last-of-type {
			padding-left: 0;

			.Select-control {
				@include adaptivity(not-phone) {
					border-left: none;
					
					.Select-placeholder, 
					.Select-input:not(input), 
					.widget-form-airports__select__value {
						padding-left: 20px !important;
					}
				}

				@include adaptivity(phone) {
					border-top: none;
				}
			}
		}

		@include adaptivity(phone) {
			padding: 0;
		}
	}
}