$breakPoint: 650px;

&-airports {
	&.row {
		@media (max-width: $breakPoint - 1) {
			display: block;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.widget-ui-input {
		padding-right: 120px;
		
		&:focus {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
			background-color: transparent;
		}
		
		&__wrapper {
			.react-autosuggest {
				&__suggestions {
					&-container {
						position: absolute;
						z-index: 12;
						left: 0;
						right: 0;
						max-height: 370px;
						
						overflow: auto;
						visibility: hidden;
						opacity: 0;
						filter: alpha(opacity = 0);
						
						border: 1px solid #e6e6e6;
						box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
						background-color: #ffffff;
						
						transition: 250ms ease;

						&--open {
							visibility: visible;
							opacity: 1;
							filter: alpha(opacity = 100);
						}
					}

					&-list {
						margin-bottom: 0;
					}
				}

				&__suggestion {
					list-style-type: none;
					background: #fff;
					transition: background, .4s, ease;
					display: block;
					padding: 10px 90px 10px 20px;
					color: #666;
					font-size: 15px;
					line-height: 16px;
					position: relative;
					font-weight: 400;
					cursor: pointer;

					&:hover {
						background: rgba(0, 76, 186, 0.07);
					}

					&--highlighted {
						background: rgba(0, 76, 186, 0.07);
					}

					&:not(:last-of-type) {
						border-bottom: 1px solid #e6e6e6;
					}
				}
			}
		}
	}

	&__suggestion {
		&__code {
			position: absolute;
			right: 2rem;
			top: 50%;

			margin-top: -1px;

			font-weight: 400;
			font-size: 15px;
			line-height: 16px;
			color: #B3B3B3;
			text-transform: uppercase;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}
	
	&__airportCode {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		color: #B3B3B3;
		font-weight: 400;
		font-size: 15px;
		line-height: 16px;
		right: 17px;
		z-index: 1;

		&_withArrow {
			right: 35px;
		}
	}
	
	&__col.col {
		&:first-of-type {
			padding-right: 0;
			
			.widget-ui-input__arrow {
				right: 12px;

				@media (max-width: $breakPoint - 1) {
					right: 0;
				}
			}
			
			.widget-form-airports__airportCode {
				right: 29px;

				&_withArrow {
					right: 47px;

					@media (max-width: $breakPoint - 1) {
						right: 35px;
					}
				}
			}
		}

		&:last-of-type {
			padding-left: 0;

			.widget-ui-input {
				@media (min-width: $breakPoint) {
					padding-left: 20px;
					border-left: none;
				}

				@media (max-width: $breakPoint - 1) {
					border-top: none;
				}
			}
		}

		@media (max-width: $breakPoint - 1) {
			padding: 0;
		}
	}

	&__switcher {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		left: -12px;
		z-index: 11;
		
		transform: translateY(-50%);
		font-size: 12px;
		cursor: pointer;
		color: #ccc;
		background: #fff;
		
		border: 1px solid #ccc;
		border-radius: 50%;
		
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background: #1B75BC;
			border-color: #1B75BC;
			color: #fff;
		}

		&:after {
			content: "\e901";
		}

		@media (max-width: $breakPoint - 1) {
			right: 75px;
			left: auto;
			transform: rotate(90deg);
			top: -12px;
		}
	}
}