@import "../variables";

&-classType {
	@extend .widget-form-passengers;

	margin-bottom: 1rem;

	& input {
		text-transform: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&__trigger {
		&, input {
			cursor: pointer;
		}
	}

	&__header {
		@extend .widget-form-passengers__header;
	}

	&__content {
		@extend .widget-form-passengers__content;
	}

	&__item {
		@extend .widget-form-passengers__item;
		height: 40px;
		cursor: pointer;

		&:hover {
			background: rgba(0, 76, 186, 0.07);
		}
	}

	&__title {
		@extend .widget-form-passengers__title;
	}
}