&-dates {
	.widget-ui-input {
		cursor: pointer;
		-webkit-appearance: none;
	}
	
	&__col {
		position: static;
		
		&:first-of-type {
			padding-right: 0.5rem;
		}
		
		&:last-of-type {
			padding-left: 0.5rem;
		}
	}
}