@import "../variables";

&-passengers {
	position: relative;
	
	&.form-group {
		@include adaptivity(not-phone) {
			margin-bottom: 0;
		}
	}

	&__trigger {
		&, input {
			cursor: pointer;
		}
	}
	
	&__header {
		@extend .widget-ui-mobile__header;
		display: none;
		
		@include adaptivity(phone) {
			display: block;
		}
	}

	&__content {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 12;
		
		margin-top: -1px;
		font-size: 15px;
		line-height: 16px;
		
		border: 1px solid #e6e6e6;
		border-top: none;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		font-weight: 400;
		
		@include adaptivity(phone) {
			position: fixed;
			top: $mobile-header-height;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 11px;
		height: 40px;
		line-height: 40px;
		border-top: 1px solid #e6e6e6;

		&_disabled {
			color: #B3B3B3;
		}
		
		@include adaptivity(phone) {
			&:last-of-type {
				border-bottom: 1px solid #e6e6e6;
			}
		}
	}

	&__title {
		font-weight: 600;
		max-width: 70%;
		overflow: hidden;
		display: inline-block;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		&__age {
			color: #ccc;
			font-size: 13px;
			padding-left: 10px;
		}
	}

	&__counter {
		display: flex;
		align-items: center;
		font-weight: 600;
		padding-left: 11px;
	}

	&__icon {
		border-radius: 50%;
		width: 25px;
		height: 25px;
		color: #1B75BC;
		font-size: 11px;
		cursor: pointer;

		&:after {
			content: "";
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover {
			@include adaptivity(not-phone) {
				background-color: #1B75BC;
				border-color: #1B75BC;
				color: #fff;
			}
		}

		&:active {
			@include adaptivity(phone) {
				background-color: #1B75BC;
				border-color: #1B75BC;
				color: #fff;
			}
		}
		
		&_disabled {
			&, &:hover {
				background-color: #fff;
				border-color: #F2F2F2;
				color: #F2F2F2;
				cursor: not-allowed;
			}
		}
	}

	&__minus {
		&:after {
			width: 25px;
			height: 25px;
			content: "\e903";
		}
	}

	&__plus {
		&:after {
			width: 25px;
			height: 25px;
			content: "\e902";
		}
	}

	&__number {
		font-size: 14px;
		padding: 0 7px;
	}
}