@import "../variables";
@import "airports";
@import "dates";
@import "passengers";
@import "classType";
@import "additional";
@import "bonus";

&-search {
	padding: 15px;

	&__footer {
		.col {
			flex-basis: 50%;

			&:nth-of-type(2n+1) {
				@include adaptivity(not-phone) {
					padding-right: 0.5rem;
				}
			}

			&:nth-of-type(2n) {
				@include adaptivity(not-phone) {
					padding-left: 0.5rem;
				}
			}

			&:first-of-type {
				margin-bottom: 1rem;
			}

			&:last-of-type {
				@include adaptivity(not-phone) {
					text-align: right;
					min-width: 0;
				}
			}

			@include adaptivity(phone) {
				flex: 100%;
			}
		}
	}

	&__addSegment {
		height: 40px;
		background: #f3f3f2;
		text-align: center;
		align-self: center;
		line-height: 40px;
		color: #6c757d;
		font-weight: 700;
		font-size: 15px;
		margin: 0 15px;
		cursor: pointer;
		width: 100%;

		@include adaptivity(phone) {
			margin: 0;
		}
	}

	&__startButton.btn-primary {
		padding: 0 43px;

		@include adaptivity(phone) {
			width: 100%;
		}
	}
}
