@import "../variables";
@import "airports";
@import "dates";
@import "passengers";
@import "bonus";

&-search {
	padding: 15px;
	
	&__footer, &__bonus {
		.col {
			&:first-of-type {
				@include adaptivity(not-phone) {
					padding-right: 0.5rem;
				}
			}

			&:last-of-type {
				@include adaptivity(not-phone) {
					padding-left: 0.5rem;
				}
			}
			
			@include adaptivity(phone) {
				flex: 100%;
			}
		}
	}
	
	&__footer .col:last-of-type{
		@include adaptivity(not-phone) {
			text-align: right;
		}
	}
	
	&__startButton.btn-primary {
		padding: 0 43px;
		
		@include adaptivity(phone) {
			width: 100%;
		}
	}
}