@import "variables";

&-form {
	@import "form/search";
	@import "form/segments";

	@include adaptivity(desktop) {
		&:after {
			content: "";
			position: absolute;
			z-index: 0;
			background: #8bc8f9;
			left: 0;
			right: 0;
			height: 50px;
			width: 100%;
		}
	}

	&__routeTypeSwitch {
		display: block;
		position: relative;
		right: 0;
		color: #ffffff;

		bottom: 0;
		z-index: 1;
		white-space: nowrap;

		& span {
			padding-left: 25px;
			font-weight: 500;
		}

		&:before {
			position: absolute;
			margin-top: 5px;
		}

		&_toCR {
			&:before {
				content: " ";
				background: url("images/cr.svg") no-repeat center center;
				background-size: 20px;
				display: inline-block;
				width: 20px;
				height: 11px;
				margin-right: 5px;
			}
		}

		&_toOW {
			&:before {
				content: " ";
				background: url("images/ow.svg") no-repeat center center;
				background-size: 25px;
				display: inline-block;
				width: 20px;
				height: 13px;
				margin-top: 3px;
			}
		}

		@include adaptivity(desktop) {
			width: 60%;
		}

		@include adaptivity(tablet) {
			position: absolute;
			left: 0;
			top: 65px;
			margin-left: calc(-1rem - 100%);
		}

		@include adaptivity(phone) {
			width: 100%;
			position: relative;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 1rem;
			display: inline-block;
			padding-top: 0;
			margin-top: 0;
			top: 0;
		}
	}

	&_vertical {
		&:after {
			display: none;
		}

		.widget-form {
			&-search {
				&__wrapper {
					flex-wrap: wrap;

					.form-group {
						&:last-of-type {
							margin-bottom: 1rem;
						}
					}
				}

				&__footer {
					flex-basis: 100%;
					padding-top: 1rem;
					display: block;
					width: 100%;

					.col {
						flex: 100%;
						padding: 0;
					}
				}

				&__startButton {
					width: 100%;
				}

				&__addSegment {
					margin-top: -1rem;
				}
			}

			&-dates {
				flex-basis: 100%;
				padding-top: 1rem;

				@include adaptivity(desktop) {
					&__col {
						&:first-child {
							padding-right: 15px !important;
						}
					}
				}

				@include adaptivity(tablet) {
					padding: 0;

					&__col {
						&:first-child {
							padding-left: 0 !important;
						}

						&:last-child {
							padding-right: 0 !important;
						}
					}
				}

				@include adaptivity(phone) {
					&__col {
						&:first-child {
							padding-right: 0 !important;
						}

						&:last-child {
							padding-left: 0 !important;
						}
					}
				}
			}

			&-segments {
				margin-bottom: 0 !important;

				&_CR {
					.widget-form-segments__segment {
						margin-left: 0;
						margin-bottom: 2rem;

						&__drop {
							height: 20px;
							width: 20px;
							margin-left: -1rem;
							top: 5px;

							&:before {
								line-height: 20px;
								font-size: 9px;
							}
						}
					}

					.widget-form-dates__col {
						&:only-child {
							padding: 0 !important;
						}
					}
				}
			}

			&-airports {
				&.row {
					flex-basis: 100%;
				}

				&__col {
					&.col {
						&:first-of-type {
							padding-bottom: 1rem;
						}

						&:last-of-type {
							padding-left: 0;

							.widget-form-airports__select__wrapper {
								padding-left: 0 !important;

								.Select-input {
									height: 40px;
									padding-left: 0 !important;
								}
							}
						}
					}
				}

				&__swap {
					display: none;
				}
			}

			&-additionalOptions {
				display: block;
				position: relative;
				height: auto;
				top: 0;
				left: 0;
				z-index: 1;
				margin-bottom: 1rem !important;
				padding-left: 0;

				&__checkboxes {
					margin-bottom: 1rem;
					margin-right: 0;

					.widget-ui-select {
						width: 100%;
					}
				}
			}

			&__routeTypeSwitch {
				position: relative;
				margin: 0;
				display: inline-block;
				width: 100%;

				@include adaptivity(tablet) {
					top: 0;
				}
			}
		}
	}
}
